<div class="corpin">
<div id="login">

  <div class="caixa">

      <img src="assets\imagenstcc\omnilogo.png" alt="">
      <h1>LOGIN</h1>

      <div class="email">
          <input type="email" placeholder="E-mail">
      </div>

      <div class="senha">
          <input type="text" placeholder="Senha">
      </div>

      <div class="entrar">
        <p>Seja bem vindo a <a>OMNI</a></p>
        <input type="submit" value="Entrar" ><a href="dashbord.html"></a>
    </div>

      <div class="entrar">

  </div>

</div>
</div>
